.logo-style{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.span-style{
    color: #2e2f42;
}
.section-one{
    background-color: #2e2f42;
}
.button-style{
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:  #ffffff;
    cursor: pointer;
}
button:hover, button:active{
    background-color:  #404BBF;
}
.link-first, .link-second, .link-third{
    color: #2e2f42;
}
.link-first:hover, .link-first:active, .link-second:hover, .link-second:active, .link-third:hover, .link-third:active{
    color: #404bbf;
}
.link-mail{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.link-tel{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.link-mail:hover, .link.mail:active{
    color: #404bbf;
}
.page-nav{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.page-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.address-style{
    font-style: normal;
}
.wrapper{
    display: flex;
}
.footer-style{
    background-color: #2e2f42;
}
.text{
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
}
.style-color{
    color:#f4f4fd
}